body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(56, 131, 21);
    color: rgb(226, 243, 226);
    font-size: 25px;
}